<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164134006575-misjk6oli33i4lr5hvprnf49k7tiee5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164134006575-misjk6oli33i4lr5hvprnf49k7tiee5n</string>
	<key>API_KEY</key>
	<string>AIzaSyAvio2BOntmy5RXj3iYsg_QMcrxRDAkKj4</string>
	<key>GCM_SENDER_ID</key>
	<string>164134006575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiktak.swipecouple</string>
	<key>PROJECT_ID</key>
	<string>swipecouple-1b62d</string>
	<key>STORAGE_BUCKET</key>
	<string>swipecouple-1b62d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164134006575:ios:ff643946b6437592</string>
	<key>DATABASE_URL</key>
	<string>https://swipecouple-1b62d.firebaseio.com</string>
</dict>
</plist>